body {
    width: auto;
    display: block;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-top: 320px;
}

h1 {
    font-size: 100px;
    margin-bottom: 1px;
}

h2 {
    font-size: 30px;
}

.btnColor {
    margin-left: 5px;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 15px;
}

#btn1 {
    background-color: red;
}

#btn2 {
    background-color: #e6e600;
}

#btn3 {
    background-color: green;
}

#btn4 {
    background-color: blue;
}

#btn5 {
    background-color: purple;
}

#btn6 {
    background-color: orange;
}